* {
    font-size: 12px;
}

body {
    background: #344e41;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #588157;
    padding: 6px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.25);
}

.centrar {
    display: flex;
    justify-content: space-evenly;
}

.parteSuperior {
    display: flex;
    justify-content: flex-end;
}

.pantalla {
    display: flex;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 16px;
}

input {
    background: #344e41;
    padding: 18px;
    width: 100%;
    border-radius: 8px;
    text-align: end;
    color: #dad7cd;
    font-size: 16px;
}

.borrar {
    background: #a3b18a;
    color: #344e41;
}

.borrar:focus {
    border-bottom: 1px solid #344e41;
    background: #a3b18a;
}

.botones {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    padding: 10px 22px;
    margin: 2px;
    border-radius: 8px;
    border-bottom: 2px solid #344e41;
    font-size: 16px;
}

button {
    border: none;
    background: #3a5a40;
    color: #aab18a;
}

button:hover {
    border: none;
    border-bottom: 2px solid #dad7cd;
}

button:focus {
    border: none;
    background: #344e41;
}
@media (min-width: 768px) {
    .card {
        width: 280px;
        height: 490px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 8px 14px;
    }
    .botones {
        width: 64px;
        height: 64px;
        padding: 16px 28px;
        margin: 2px;
        font-size: 24px;
    }
    .pantalla {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    input {
        padding: 32px;
        font-size: 24px;
    }
}

@media (min-width: 1024px) {
    .card {
        width: 320px;
        height: 580px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .botones {
        width: 72px;
        height: 72px;
        padding: 16px 28px;
        margin: 2px;
    }

    .pantalla {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    input {
        padding: 32px;
    }
}